<html>
<head>
<title>{{ title }}</title>
</head>
<body style= "FONT-SIZE:12px; LINE-HEIGHT:20px; font-family:sans-serif">
<h1>Convert Professional Services SKUs</h1>
<form method=post enctype=multipart/form-data  style="background-color:powderblue; paddling-left:520pt;">
    {{ form.hidden_tag() }}
    {{ form.file }}
    <input type="submit">
</form>
<!-- <img src="/static/Excel_Invoice.PNG" alt="Invoice"> 
<h3 name="welcome">First time using {{title}}? Welcome!</h3> -->
<h3 name="howto">How to use {{title}}</h3>
	<ol>
		<li> Upload the soitems.csv file exported from the opportunity's Product tab on ConnectWise. </li>
		<li> An Excel file named <b>"proserv_converted.xlsx"</b> will be automatically downloaded to your computer.
			<ul>
				<li> The Excel file will have one sheet with two tables:  </li>
					<ol>
						<li><b>First Table</b> - The first table lists the raw data from the original export file with some lines highlighted in red.	</li>
						<li><b>Second Table</b> - The second table will list the PKG-PRO-PROFSVCS SKUs adjusted to reflect 50-20-20-10 progress billing.	</li>
					</ol>
			</ul>  
		</li>
	</ol>

<h3 name="createquosal">Preparing the Connectwise Product Tab for Conversion</h3>
	<ol>
		<li> On Connectwise - Product Tab delete all the Product SKUs highlighted on the First Table.
			<ul>
				<li> Add the PKG-PRO-PROFSVCS SKUs listed on the second table manually  </li>
<!--					<ol>
						<li><b>Invoice Line Item Detail</b> - paste the contents of the Excel sheet with the same name here.	</li>
						<li><b>Quote Line Item Detail</b> - paste the contents of the Excel sheet with the same name here.	</li>
					</ol>  -->
			</ul>
<!--		<li>To properly display the columns in the quote, choose the appropriate mapping by clicking <b>Load Mapping</b> and choosing:	</li>
			<ul>
				<li><b>Smartnet Invoice Line Mapping</b> for the Invoice Line Item Detail tab.	</li>
				<li><b>Smartnet Quote Line Mapping</b> for the Quote Line Item Detail tab.	</li>
			</ul>
		<li>Publish and Deliver.	</li>  -->
	
	
	
	</ol>

</body>
</html>
